Repository newbornfrontender/simple-chat-on-lit-html: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --fix

.lintstagedrc:

{
  "linters": {
    "*.md": "prettier --write",
    "src/**/*.css": "stylelint --fix",
    "src/**/*.ts": "tslint --fix"
  }
}

Добавлена конфигурация для Stylelint
  .stylelintrc
Due: none

Убрана bash пометка
  README.md
Due: prettier --write

Добавлена конфигурация для TSLint
  tslint.json
Due: none

Изменена структура
  README.md
Due: prettier --write

Протестирован lint-staged и husky #1
  src/index.ts
Due: tslint --fix

Исправлена конфигурация
  .lintstagedrc
Due: none

Протестирован lint-staged и husky #2
  src/index.ts
Due: tslint --fix

Добавлены оставшиеся файлы
  .browserslistrc
  .editorconfig
  .prettierignore
  .prettierrc
  src/index.css
  src/index.html
Due: stylelint --fix
